# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# docs
docs/


# Docker
docker/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Test
coverage/
.nyc_output/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/.terraform.lock.hcl
*.tfvars
!*.tfvars.example

        
# Prisma
backend/prisma/migrations/**/migration_lock.toml

# Misc
*.pem
.vercel
